html {
  scroll-behavior: smooth;
}

body {
	opacity: 0;
   -webkit-transition: opacity 1s ease-in;
   -moz-transition: opacity 1s ease-in;
   -ms-transition: opacity 1s ease-in;
   -o-transition: opacity 1s ease-in;
      transition: opacity 1s ease-in;
}

body.load {
	opacity: 1;
}

h1, h2, h3, h5, nav {
	font-family: 'Teko', Arial;
}

h4, p {
	font-family: 'Open Sans';
}

h1 {
	text-align: center;
	color: #FF6F0D;
	letter-spacing: 2px;
	font-size: 100px;
}

h2 {
	font-size: 40px;
	letter-spacing: 1px;
	margin-bottom: 20px;
	text-align: center;
}

h3 {
	font-size: 32px;
}

h5 {
	font-size: 24px;
}

h4 {
	font-size: 16px;
}

nav {
	color: white;
	font-size: 24px;
	background-color: #FF6F0D;
}

#logohead {
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25vw;
}

/* push targets down */
:target{
  padding-top:80px;
}

.nav-item {
	list-style-type: none;
	color: #BF0000;
	padding: 0px 20px;
}

.nav-link {
	text-decoration: none;
}

.navbar-dark .navbar-nav .nav-link {
	color: white;
	text-align: center;
}

.navbar-nav {
	display: flex;
    margin-left: auto;
    margin-right: auto;
}

.logo {
	width: 500px;
	position: absolute;
	text-align: center;
}

.top {
	padding: 15vh 0px 1vh 0px;
}

.top img {
	top: 15vh;
	margin: auto;
	left: 0;
	right: 0;
	text-align: center;
	z-index: 1;
}

#portfolio {
	margin-top: 100px;
}

.portfolio {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	overflow: hidden;
	text-align: center;
	margin-bottom: 40px;
	justify-content: center;
	grid-column-gap: 5px;
}

.portfolio div {
	overflow: hidden;
	margin-bottom: 10px;
}


.portfolio img {
	vertical-align: middle;
	max-width: 350px;
	margin-bottom: 15px;
	opacity: 1;
	transition: transform .5s, opacity .5s;
}

.portfolio img:hover {
	transform:scale(1.05);
    -ms-transform:scale(1..05); /* IE 9 */
    -moz-transform:scale(1..05); /* Firefox */
    -webkit-transform:scale(1..05); /* Safari and Chrome */
    -o-transform:scale(1..05); /* Opera */
    opacity: .90;
    transition: opacity .5s, transform .5s;
}

.about {
	display: grid;
	grid-template-columns: 1fr 2fr;
	width: 100%;
}

.side {
	text-align: center;
}

.about img {
	border-radius: 50%;
	width: 230px;
	margin-bottom: 10px;
}

.side i {
	text-align: center;
	margin: 0px 10px;
	font-size: 25px;
}

.side a{
	color: #BF0000;
}
.side a:hover {
	color: #FF6F0D;
}

.experience {
	display: flex;
	margin-bottom: 20px;
}

.work-experience {
	margin-bottom: 50px;
}

.work-experience h2 {
	margin-bottom: 40px;
}

.experience span {
	min-width: 200px;
}

footer {
	color: #FF6F0D;
	text-align: center;
	margin-top: 20vh;
}

footer p {
	font-size: 24px;
	font-family: 'Teko', Arial;
	letter-spacing: 1px;
}





/*Portfolio filter*/
.cta {
	font-family: 'Teko';
	font-size: 26px;
	letter-spacing: 1px;
	text-align: center;
	margin-bottom: 20px;
	width: 100%;
	display: inline-flex;
	justify-content: center;
}

.cta a {
	padding: 10px;
	color: #BF0000;
}

.cta a:hover {
	color: #FF6F0D;
	text-decoration: none;
}

.is-animated {
  animation: .6s zoom-in;
}

@keyframes zoom-in {
  0% {
   transform: scale(.1);
  } 
  100% {
    transform: none;
  }
}




@media only screen and (max-width: 1200px) {
	.portfolio img {
		width: 300px;
	}
}

@media only screen and (max-width: 991px) {
	.about img {
		width: 150px;
	}

	.portfolio {
		grid-template-columns: 1fr 1fr;
	}
}

@media only screen and (max-width: 767px) {
	.cta {
		display: block;
	}
	.container {
		max-width: 90%;
	}

	.portfolio {
		grid-template-columns: 1fr;
	}

	.portfolio img {
		min-width: 500px;
	}
	.about {
		display: block;
	}

	.side h3 {
		font-size: 60px;
	}

	.side img {
		width: 500px;
	}

	.experience span {
		max-width: 100px;
		min-width: 100px;
	}
}

@media only screen and (max-width: 610px) {
	.side img {
		width: 300px;
	}

	.side h3 {
		font-size: 32px;
	}

	.portfolio img {
		max-width: 400px;
		min-width: 400px;
	}
}

@media only screen and (max-width: 522px) {
	.logo {
		width: 400px;
	}

	h1 {
		font-size: 48px;
	}

	.top h2 {
		font-size: 32px;
	}
}

@media only screen and (max-width: 485px) {
	.portfolio img {
		max-width: 350px;
		min-width: 350px;
	}

	.side img {
		width: 300px;
	}
}

@media only screen and (max-width: 427px) {
	.top {
		padding-top: 25vh;
	}
	.logo {
		width: 300px;
	}
	h1 {
		font-size: 40px;
	}

	.top h2 {
		font-size: 24px;
	}
	.portfolio img {
		max-width: 250px;
		min-width: 250px;
	}

	.side img {
		width: 250px;
	}
}
